@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --font-sans: ui-sans-serif, "Inter", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.flex-between {
  display: flex;
  justify-content: space-between;
}



.header-button{

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-button img{
  width: 24px;
  height: 24px;

}

.LandingHeadsetBG {
  background: linear-gradient(120deg, #142b4e, #1a2b4c, #1f2b49, #232b47, #262b45, #292c42, #292a3e, #282739, #262434, #24212f, #221f2a, #1f1c25);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}