@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, "Inter", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.flex-between {
  display: flex;
  justify-content: space-between;
}



.header-button{

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-button img{
  width: 24px;
  height: 24px;

}

.LandingHeadsetBG {
  background: linear-gradient(120deg, #142b4e, #192d53, #1f3058, #25335d, #2c3760, #333b63, #3b4066, #444668);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}